    @media screen and (max-width: 450px) {
    .banner{
        height: 60vh;
    }
    main section h1{
        font-size: 40px;
    }
        .banner .fixed_location {
            bottom: 20px;
        }
}
    @media screen and (max-width: 280px){
        .help{
            min-height: 30vh;
        }
        .help .help_container a{
            margin-bottom: 30px;
        }
    }
@media screen and (max-width: 375px) {
    .banner {
        height: 45vh;
    }
    .sunset, .monstera, .star {
        min-height: 40vh;
    }
    .help{
        min-height: 40vh;
    }
    main section h1{
        font-size: 30px;
    }
    .section_text{
        font-size: 11px;
        color: #FFFFFF;
    }
    .section_text1{
        font-size: 11px;
    }
    .sunset .sub_container p{
        font-size: 11px;
    }
    .monstera .sub_container p{
        font-size: 11px;
    }
    .past .past_container p{
        font-size: 11px;
    }
    .star .sub_container p{
        font-size: 11px;
    }
    .help .help_container p{
        font-size: 18px;
    }
    .past .past_container h4{
        font-size: 25px;
        padding-top: 30px;
    }
    .help .help_container h4{
        font-size: 25px;
        padding-top: 30px;

    }
    .fixed_location{
        right: 10px;
        bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    #navbar{
        flex-direction: column;
    }
    header .d_flex{
    justify-content: space-evenly
    }
}
@media screen and (max-width: 540px) {
    .header_text3{
        margin-right: 8px;
        padding: 0;
    }
}
@media screen and (max-width: 768px) {
    .header_mrg3{
        margin-left: 20px;
    }
    .header_text1, .header_text2, .header_text3{
        font-size: 9px;
    }
    .past_img{
        flex-direction: column;
        padding-bottom: 20px;

    }
    .past .past_container p{
        padding-bottom: 20px
    }
    .past .past_container a{
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 900px) {
    .header_mrg, .header_mrg2, .header_mrg3 {
        margin-left: 8px;
    }
}