*{
    padding: 0;
    margin: 0;
}
header{
    padding: 29px 0;
    background-color: #181818;
    box-sizing: border-box;
}
body{
    background-color: #181818;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center
}
#navbar {
    list-style: none;
    display: flex
}
.header_mrg{
    margin-left: 32px
}
.header_mrg2{
    margin-left: 56px
}
.header_mrg3{
    margin-left: 51px;
}
.header_text1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none
}
.header_text2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none
}
.header_text3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none; padding: 9px 20px 13px;
    background: #FFFFFF;
    border-radius: 14px;margin-right: 20px
}
.banner{
    background-image: url("../images/bg_main.jpg");
    background-size: cover;
    height: calc(100vh - 93px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 71px;
}
.banner h1{
    margin-bottom: 18px;
}
.fixed_location{
    position: absolute;
    right: 40px;
    bottom: 46px;
    list-style: none;
    display: flex;
    align-items: center;
}
.fixed_location li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.fixed_location li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/time.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixed_location li:nth-child(2):before{
    background-image: url("../images/camera.svg");
}
.fixed_location li:nth-child(3):before{
    background-image: url("../images/iso.svg");
    width: 32px;
}
.fixed_location li:last-of-type:before{
    background-image: url("../images/location_ice.svg");
    width: 10px;
}
.section_width{
    max-width: 580px
}
main section h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF
}
.section_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.section_text1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.sunset{
    background-image: url("../images/background_3.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sunset .sub_container{
    max-width: 298px;
    margin-right: 62px;
}
.sunset .sub_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset .sub_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monstera{
    background-image: url("../images/background_costa.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.monstera .sub_container{
    max-width: 298px;
    margin-right: 62px;
}
.monstera .sub_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.monstera .sub_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.past{
    background-color: black;
    background-size: cover;
    min-height: 500px;

}
.past_container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding: 113px;
}
.past .past_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;

}
.past .past_container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.owl-stage{
    align-items: center;
    display: flex;
}
.owl-item{
    text-align: center;
}
.past .past_container a{
    max-width: 128px;
    display: inline-block;
}
.owl-nav .owl-prev{
    background-color: brown;
}
.past_img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star{
    background-image: url("../images/background_star.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.star .sub_container {
    max-width: 298px;
    margin-right: 62px;
}
.star .sub_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.star .sub_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.help{
    background-color: black;
    background-size: cover;
    min-height: 414px;
}
.help_container{
    max-width: 600px;
    text-align: center;
    margin: auto;
}
.help .help_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 113px;
    padding-bottom: 15px;
}
.help .help_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 22px;
}
.get_in{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    padding: 5px 10px 5px 4px;
    align-items: center;
}
.get_in:before{
    content: "";
    display: inline-block;
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 13px;
    margin-right: 7px;
}
.faq{
    background-color: #181818;
    padding: 70px 0;
}
.faq .container{
    display: flex;
    justify-content: space-between;
}
.faq .text{
    max-width: 500px;
    padding-right: 50px;
    box-sizing: border-box;
}
.faq .accordion{
    max-width: 700px;
}
.faq .text h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #202939;
    margin-bottom: 50px;
}
.faq .text p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #697586;
}
.faq .ui-accordion .ui-accordion-header{
    background: #FFFFFF;
    border: 1px solid #E3E8EF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 23px 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #202939;
    margin-bottom: 16px;
}
.faq .ui-accordion-header.ui-state-active{
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}
.ui-accordion .ui-accordion-content{
    margin-bottom: 16px;
    border-radius: 0 0 8px 8px ;
}
.faq .ui-accordion .ui-icon{
    background-image: none;
    background-position: 0;
    width: 32px;
    height: 48px;
    text-indent: 0;
    position: absolute;
    right: 25px;
    top: 26px;
}
.faq .ui-accordion .ui-icon:before{
    font-weight: 900;
    font-font: "Font Awesome 6 Free";
    content: "\2b";
    font-size: 32px;
    display: inline-block;
    transition: 0.5s;
}
.faq .ui-accordion-header.ui-state-active .ui-icon{
    transform: rotate(360deg);
}



/* ---Main Components ---- */
.cd-header{
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;}
.cd-header:after {
    content: "";
    display: table;
    clear: both; }
.cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }

.cd-marker {
    /* line at the bottom of nav selected item */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 20%;
    background-color: currentColor;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: translateZ(0) rotateX(90deg);
    -moz-transform: translateZ(0) rotateX(90deg);
    -ms-transform: translateZ(0) rotateX(90deg);
    -o-transform: translateZ(0) rotateX(90deg);
    transform: translateZ(0) rotateX(90deg);
    -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s; }
.cd-marker::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit; }
.nav-is-visible .cd-marker {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }

/* these are the colors of the markers - line + arrow */
.color-1 {
    color: #9a57bd; }

.color-2 {
    color: #c96aa4; }

.color-3 {
    color: #d6915e; }

.color-4 {
    color: #5397c7; }

.color-5 {
    color: #77cd91; }

main{
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;}
main.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
.what_we_do{
    background-color: #000000;
    padding-top: 112px;
    padding-bottom: 100px;
}
.what_we_do .container{
    max-width: 1168px;
}
.what_we_do h3{
    font-family: 'Poppins', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.what_we_do article{
    max-width: 576px;
    position: relative;
    margin-bottom: 16px;
}
.what_we_do img{
    width: 100%;
    display: block;
}
.what_we_do article .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding-right: 30px;
}
.what_we_do .description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: left;
}
.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 15px;
}
.tools{
    background-color: #000000;
    min-height: 540px;
    position: relative;
}
.tools .position_bg{
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url("../images/position_bg_img.jpg");
    background-size: cover;
    position: absolute;
}
.tools .item{
    max-width: 540px;
}
.tools .container{
    display: flex;
    align-items: center;
    min-height: 540px;
}
.tools .container h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.tools .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 6px;
    margin-bottom: 14px;
}
.tools .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-right: 106px;
}